:root {
        --primary-header-color: #2E2F42;
        --body-color: #434455;
        --color-white: #ffffff;
        --color-footer: #E7E9FC;
        --color-hover: #404BBF;
        --color-logo-web: #4D5AE5;
        --team-background-color: #F4F4FD;

}

body {
        font-family: 'Roboto', sans-serif;
        color: var(--body-color);
}

.container {
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 1158px;
        outline: solid #404BBF;
}

.section {
        padding-bottom: 120px;
}

.logo-web {
        margin-top: 24px;
        margin-bottom: 24px;
        color: var(--color-logo-web);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-decoration: none;

}

.logo {
        margin-top: 24px;
        margin-bottom: 24px;
        color: var(--primary-header-color);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.list {
        list-style: none;
}

/*header*/

.link-nav {
        padding-top: 24px;
        padding-bottom: 24px;
        color: var(--primary-header-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        list-style: none;
}

.link-nav:hover,
.link-nav:focus {
        color: var(--color-hover)
}


.link-address {
        padding-top: 24px;
        padding-bottom: 24px;
        color: var(--body-color);
        font-style: normal;
        font-size: 16px;
        line-height: 1.5px;
        letter-spacing: 0.02em;
        text-decoration: none;
        list-style: none;
}

.link-address:hover,
.link-address:focus {
        color: var(--color-hover)
}

/*hero*/
.section-hero {
        background-color: var(--primary-header-color);
        outline: #2E2F42;
        text-align: center;
        padding: 0;
        width: 1440px;
        height: 600px;
}

.hero-title {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 64px;
        color: var(--color-white);
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
}

.hero-button {
        display: inline-block;
        min-width: 169px;
        height: 56px;
        border-radius: 4px;
        padding: 16px 32px;
        text-align: center;
        background-color: var(--color-logo-web);
        color: var(--color-white);
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        align-items: center;
        letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
        background-color: var(--color-hover);
}

/*section quality*/
.quality-title {
        padding-bottom: 8px;
        color: var(--primary-header-color);
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.quality-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.subtitle {
        color: var(--primary-header-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

/*section-what*/
.subtitle-what {
        padding-bottom: 72px;
        color: var(--primary-header-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

/*section-oer team*/
.section-team {
        background-color: var(--team-background-color);
}

.team-title {
        color: var(--primary-header-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-subtitle {
        padding-bottom: 72px;
        color: var(--primary-header-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
}

/*footer*/
.footer {
        background-color: var(--primary-header-color);
}

.logo-web-footer {
        color: var(--color-logo-web);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.logo-footer {
        color: var(--team-background-color);
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.text-footer {
        color: var(--color-footer);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*portfolio*/
.button-portfolio {
        background-color: var(--team-background-color);
        color: var(--color-logo-web);
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer
}

.button-portfolio:hover,
.button-portfolio:focus {
        background-color: var(--color-logo-web);
        color: var(--team-background-color);
}


.subtitle-portfolio {
        color: var(--primary-header-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.text-portfolio {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}